*{
	padding: 0;
	margin: 40;
	font-family: arial;
	box-sizing: border-box;
	align: center;
}
.hero{
	height: 100vh;
	width: 100%;


}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: white;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: white;
	transition: .4s;
}
.btn{
	display: inline-block;
	padding: 1.7rem 3.5rem;
	background: yellow;
	font-size: 2rem;
	text-decoration: none;
	color: green;
	border-radius: 10px;
	transition: background 0.5s;
}
.btn:hover{
	background: blue;
}
h1{
	font-weight: bold;
	color: red;
	margin-bottom: 2rem;
}
h2{
	color: gray;
	font-size: 4rem;
	font-weight: 100;
}
p{
	font-size: 20px;
	color: white;
	line-height: 30px;
	margin-bottom: 1rem;
}
table{
	color: white;
}
section{
	color: white;
}
body{
	background: #131f33;
}
.about-img{
	position: relative;
}
.about-img:before{
	position: absolute;
	content: '';
	left: 30px;
	top: 30px;
	border: 10px solid rgba(255,255,255,0.5);
	width: 530px;
	height: 700px;
}
.about-img img{
	width: 40%;
}
.about-text h2{
	right: 30;
	color: #fff;
	font-family: lobster;
	font-size: 50px;
}
.about-text p{
	font-size: 18px;
	color: #ddd;
}
.about-text a{
	background: orangered;
	color: #fff;
	padding: 7px 15px;
	display: inline-block;
	margin-top: 20px;

}
.about-text h1{
	font-size: 70px;

}
.about-imgg{
	position: relative;
}
.about-imgg:after{
	position: absolute;
	content: '';
	left: 30px;
	top: 30px;
	border: 10px solid rgba(255,255,255,0.5);
	width: 530px;
	height: 700px;
}
footer{
	position: absolute;
	background-color: #000;
	width: 100%;
	height: 30vh;

}
footer h2{
	padding-bottom: 0;
	margin-top: 2rem;
	text-align: center;
	font-size: 2rem;

}
footer p{
	color: orange;
	position:absolute;
	bottom: 20px;
	left: 44%;
	margin-top: 10rem;
	padding-bottom: 10;
	font-size: 1.2rem;
}


